extends base.pug

block title 
    title #{title} | Dance website
block style 
    style 
        include ../static/style.css

block content
    section#intro
        h1  Welcome to Sonish's Dance 
        h2  Eat sleep Dance Repeat 

    section#mission 
        h1  Our Mission 
        div.card 
            h2  Dance Perfection
            p   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum quis omnis consequuntur,   repellat minus nemo ipsam voluptatum tempora dicta, error corporis numquam non reiciendis? Officiis expedita quo eaque saepe impedit!
        div.card 
            h2  Dance the way you like 
            p   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum iure quas libero modi obcaecati. Consequuntur sapiente ab suscipit aspernatur reiciendis adipisci natus tenetur omnis delectus incidunt itaque, dolorum vero? Id.

        div.card 
            h2  Expert Trainer

            p   Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio aliquam saepe, laboriosam illo, similique hic, atque cum perspiciatis tempore dolorem consequatur sunt eveniet voluptatem officiis eius. Quisquam voluptates aliquam facilis.