
h1{
    text-align: center;
    color: rgb(255, 255, 255);

}
.container{
    height: 75vh;
    margin: 10vh;
}

.myinput{
    display: block;
    width: 50vw;
    margin: 15px auto;
    color: black;
    border-radius: 5px;
    padding: 10px;
    border: none;
}
#desc{
    color: gray;
}
.btn{
    display: block;
    margin: auto;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(25, 116, 252);
    color: white;
    font-size: 1.2rem;
    /* font-family: Arial, Helvetica, sans-serif; */
}